// global.scss
@import './_variables';

body {
  font-family: $font-family;
  background-color: #e0f7fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  max-width: $max-width;
  width: 100%;
  background-color: $background-color;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: $padding;
  margin: 20px;
  overflow: hidden;
}

* {
  box-sizing: border-box;

}